# Dependencies
node_modules/

# Build output
dist/
build/

# Test coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Cache
.eslintcache

# Logs
logs/
*.log
backend/test/*.d.ts
backend/test/*.js
backend/test/*.js.map
