.iconActionModule {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 8px;
}

.mainAction {
  display: flex;
  align-items: center;
}

.bonuses {
  font-size: 10px;
  color: #a0a0a0;
  margin-left: 24px; /* Align with value */
}

.bonus {
  margin-right: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  /* Fill will be inherited from parent color */
  filter: invert(1); /* Invert to make them white */
}

.value {
  font-size: 18px;
  font-weight: bold;
  margin-right: 4px;
}

.range, .target {
  font-size: 12px;
  color: #a0a0a0;
}
