#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  background-color: var(--primary-bg-color, #0d1a2e);
}

.app-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/hex-pattern.svg');
  background-size: 200px;
  opacity: 0.05;
  z-index: 0;
}

.main-content {
  flex-grow: 1;
  position: relative;
  z-index: 1;
}
